@import "../../shared/theme.scss";

.personal-card {
    width: 90%;
    background: rgb(106, 61, 59);
    background: linear-gradient(
      135deg,
      rgba(106, 61, 59, 1) 0%,
      rgba(27, 30, 61, 1) 100%
    );
    height: fit-content;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 25px 2px;
    position: relative;
    margin-top: 80px;
  }
  
  .profile-picture {
    height: 100%;
    position: relative;
  }
  
  .profile-picture img {
    width: 100%;
    position: relative;
    left: 10px;
    bottom: -4px;
  }
  
  .profile-info {
    width: calc(100% - 30vw);
  }
  
  .profile-text {
    color: white;
    font-size: 3vw;
    font-weight: bold;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    margin-left: 30px;
  }
  
  .profile-text > .subtext {
    font-size: 2vw;
  }
  
  .highlight-text {
    color: #00e1ff !important;
    position: relative;
  }
  
  .social-networks {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    gap: 15px;
    width: calc(100% - 30vw);
  }
  
  .social-networks img {
    width: 100%;
  }
  
  .social-link {
    display: block;
    width: 50px;
    max-width: 70px;
  }
  
  .cv-download {
    width: 220px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .cv-download-button {
    background-color: #007888;
    padding: 20px;
    border-radius: 30px;
  }
  
  @media screen and (max-width: 900px) {
    .home {
      gap: 30px;
    }
  
    .personal-card {
      height: fit-content;
    }
    .social-networks {
      position: inherit;
      height: 90px;
    }
  
    .profile-text > .subtext {
      font-size: 20px;
    }
  
    .personal-card {
      flex-direction: column-reverse;
      gap: 50px;
    }
  
    .profile-info {
      width: 90%;
    }
  
    .profile-text {
      margin-left: 0;
      padding: 20px 0;
      font-size: 25px;
    }
  
    .profile-picture {
      height: 200px;
      width: fit-content;
    }
  
    .profile-picture img {
      width: auto;
      height: auto;
      max-height: 100%;
    }
  }
  