@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Outfit:wght@400;700&display=swap");

html,
body {
  overflow-x: hidden;
}

body {
  text-align: center;
  background-color: #282c34;
  font-family: "Outfit";
}
